@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0d1117;
  --color-secondary: #161b22;
  --color-secondary-hover: #242930;
  --color-light: #8b949e;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-primary);
}

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-light);
  border-radius: 1.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
